// reset defaults

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000000;

  &.inverse-link {
    color: #ffffff;

    &:hover,
    &:visited,
    &:active{
      color: #ffffff;
    }
  }

  &:hover,
  &:visited,
  &:active{
    color: #000000;
  }

  &:hover {
    text-decoration: underline;
  }
}

// page

md-toolbar {
  background: #79BD8F !important;

  &.md-warn {
    background: #00A388 !important;
  }
}

.md-button.md-primary {
  background: #79BD8F !important;
}

.page {
  min-height: 100vh;
}

.page_login {
  background: transparent url(../images/cool-background.jpg) no-repeat 0 0;
  background-size: cover;
}

// chat bar

.chat-bar {
  z-index: 25;
  position: fixed;
  bottom: 0;
  //left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

// chat

.chat {
  display: inline-block;
  vertical-align: bottom;
  text-align: left;

  & + & {
    margin-left: 10px;
  }
}

.chat__inner {
  width: 255px;
  height: 335px;
}

.chat__messages {
  overflow: auto;
  background: #fafafa;
}

.chat__header {
  padding: 5px 5px 5px 10px;
  background-color: #79BD8F;

  &:focus {
    outline: none;
  }
}

.md-button.md-icon-button_for_chat_header {
  min-height: unset;
  height: auto;
  width: auto;
  margin: 0;
  padding: 2px;
  line-height: 1;
}

.md-icon-button_for_chat_header,
.material-icons_for_chat_header {
  color: #fff;
}

.chat_state_minimized {
  .chat__inner {
    height: auto;
  }

  .chat__body {
    display: none;
  }

  .chat__header {
    background-color: rgb(181, 181, 181);
  }

  &.chat_state_minimized_alert {
    .chat__header {
      background-color: #79BD8F;
    }
  }
}

.chat__title {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.chat__input {
  display: block;
  width: 100%;
  padding: 5px 10px;
}

// message

.message {
  width: 100%;
}

.message__body {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #DDDDDD;
  background-color: #eeeeee;
  color: #000088;
}

.message_new {
  opacity: .3;
}

.message_by_myself {
  text-align: right;

  .message__body {
    border-color: #67d6df;
    background-color: #b2dfdb;
  }
}

// user

.user-container {
  .material-icons {
    color: #00A388;
  }

  &.in-game {
    .material-icons {
      color: #FF6138;
    }
  }
}

.user {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  ,

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.user_state_online {
  position: relative;
  .user {
    &,
    &:hover,
    &:focus {
      color: #1f1f1f;
    }

    &:after {
      content: "";
      position: relative;
      top: -.5em;
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      border-radius: 50%;
      background-color: green;
    }
  }
}

.user_state_offline {
  .user {
    &,
    &:hover,
    &:focus {
      color: #a5a5a5;
    }
  }

  .material-icons {
    color: grey;
  }

  &.in-game {
    .material-icons {
      color: orangered;
    }
  }

}

// Game
.game-box {
  //width: 480px;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    opacity: .7;
    z-index: 10;
  }

  .game-messages {
    position: relative;
    z-index: 20;
    width: 480px;
    margin-left: -480px;

    &.without-game {
      margin-left: 0;
    }

    .game-message {

      .title {
        font-size: 42px;
        text-align: center;
      }

      .controls {
        text-align: center;
      }
    }
  }

  .in-game {
    position: relative;
    z-index: 5;

    .in-game-header {
      font-size: 26px;
      margin: 10px 0 15px 0;

      .first-player, .second-player {
        color: #FF6138;

        &.creator {
          color: #00A388;
        }
      }

      .your-turn {
        text-align: center;
        color: #eeeeee;

        &.active {
          color: #D90000;
        }
      }

      .second-player {
        text-align: right;
        color: #FF6138;
      }
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    margin: 10px 10px;
    background: darkorange;
  }
}